<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contents</title>
</head>
<body>
    <h1>List Content</h1>
    <a href="/create-blog">Create a Blog</a>
    <table border="1">
        <tr>
            <td>ID</td>
            <td>Content</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        <th:block th:each="conten : ${contents}">
            <tr>
                <td th:text="${conten.id}"></td>
                <td th:text="${conten.content}"></td>
                <td><a href="/edit-content">Edit</a></td>
                <td><a href="/delete-content">Delete</a></td>
            </tr>
        </th:block>
    </table>
</body>
</html>